html, body {
  height: 100%;
  min-height: 100%;
  font-family: 'PT Sans', sans-serif;
}

h1, h2, a {
  font-family: 'Roboto', sans-serif;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  background-color: #9e712a;
  color: #fff;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 18px;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.5);
}

/*  Zone de Navigation */

header {
  width: 100%;
  display: flex;
  position: relative;
}

#title {
  font-size: 30px;
  margin: 10px;
}

nav {
  color: #000;
}

#icon {
  position: absolute;
  top: 17px;
  right: 10px;
  float: right;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 15%;
  width: 100%;
  text-align: center;
  margin-top: 25px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  letter-spacing: 5px;
  line-height: 1.5em;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #9e712a;
  /*shadow*/
  -webkit-text-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -moz-text-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  text-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.5);
}

.overlay .closebtn {
  position: absolute;
  margin: 0;
  top: 5px;
  right: 10px;
  font-size: 50px;
}

#background-image img {
  display: block;
  max-height: 700px;
  max-width: 100%;
  height: auto;
}

/* Pied de Page */

footer {
  display: flex;
  height: 50px;
  width: 100%;
  margin-top: 50px;
  vertical-align: middle;
  box-sizing: border-box;
}

footer a {
  flex: 1;
  background: #fff;
  color: #434e4f;
}

/* Page About */

.section {
  text-align: justify;
  width: 95%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.section img {
  display: block;
  height: auto;
  margin: 0 auto 25px auto;
  max-width: 100%;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.talk {
  text-align: center;
  font-style: italic;
}

.quote {
  font-size: 25px;
  text-align: center;
  font-style: italic;
  font-weight: bold;
}

/*Page Pedagogie*/

#bookLink {
  margin: 50px;
  text-align: center;
}

#bookLink a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
}

.collapsible {
  background-color: #fefefe;
  color: #000;
  cursor: pointer;
  margin: 5px 0;
  padding: 18px;
  width: 100%;
  text-align: left;
  outline: none;
  font-size: 25px;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.active, .collapsible:hover {
  background-color: #9e712a;
  color: #fff;
}

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #fff;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

/* Page Media */

.gallery {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.thumbnails iframe{
  max-width: 100%;
  border: none;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15), 0 6px 6px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15), 0 6px 6px rgba(0, 0, 0, 0.17);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15), 0 6px 6px rgba(0, 0, 0, 0.17);
}

.twitter {
  display: block;
  width: 85%;
  max-width: 800px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  text-align: center
}

.twitter-timeline {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/*form*/

#feedback-page{
	text-align:center;
}
#form-main{
	background-image: url("img/fondcontact.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	margin-left: 5px;
	margin-right: 5px;
	-webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  -moz-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
#form-div {
	background-color:rgba(72,72,72,0.4);
	padding-left:5px;
	padding-right:5px;
	padding-top:5px;
	padding-bottom:50px;
	width: 95%;
	left: 0%;
	position: relative;
  margin-top:30px;
	margin-right: 50px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}
.feedback-input {
	color:#000000;
  font-weight:500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 5px 5px 5px 10px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}
.feedback-input:focus{
	background: #fff;
	box-shadow: none;
	border: 3px solid #9e712a;
	color: #9e712a;
	outline: none;
  padding: 5px 5px 5px 10px;
}
.focused{
	color:#9e712a;
	border:#9e712a solid 3px;
}
textarea {
  width: 100%;
  height: 300px;
  line-height: 150%;
  resize:vertical;
}
input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:white;
}
#button-gold{
	float:left;
	width: 100%;
	border: #fbfbfb solid 4px;
	cursor:pointer;
	background-color: #000;
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
#button-gold:hover{
	background-color: rgba(0,0,0,0);
	color: #000;
}
.submit:hover {
	color: #9e712a;
}
.ease {
	width: 0px;
	height: 74px;
	background-color: #fbfbfb;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}
.submit:hover .ease{
  width:100%;
  background-color:white;
}

@media screen and (max-width: 340px) {
  #icon {
    position: relative;
  }
}

@media screen and (min-width: 890px) {
  body {
    background: #434e4f;
  }
  h1 {
    letter-spacing: 15px;
    margin: 0.5em;
    margin-left: 25px;
  }
  /*  Zone de Navigation */
  #icon {
    display: none;
  }
  .overlay {
    height: auto;
    text-align: right;
    width: 100%;
    position: relative;
    z-index: 0;
    right: 0;
    top: 0;
    background-color: inherit;
    overflow-x: auto;
    transition: 0s;
  }
  .overlay-content {
    position: inherit;
    text-align: center;
  }
  .overlay a {
    width: auto;
    display: inline;
    text-align: center;
    text-decoration: none;
    color: #000;
    margin: 15px;
    font-size: 1em;
    transition: text-shadow 0.3s ease-in-out;
  }
  .overlay a.closebtn {
    display: none;
  }
  #content {
    background-color: #fff;
    height: 90%;
    width: 90%;
    margin: 50px auto;
    /*shadow*/
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  #background-image img {
    max-width: 80%;
    height: auto;
    margin-left: auto ;
    margin-right: auto;
    /* shadow */
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }
  /* Pied de Page */
  footer {
    display: block;
  }
  footer a {
    float: left;
    padding: 0 20px;
  }
  /* Page About */
  .section {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  /* Page Media */
  .gallery {
    width: 820px;
  }
  .preview img {
    width: 800px;
  }
	/*form*/
	#form-main{
		margin-left: 35px;
		margin-right: 35px;
	}
	#form-div{
		padding-left:35px;
		padding-right:35px;
		padding-top:35px;
		padding-bottom:50px;
		width: 450px;
	}
	.feedback-input {
		padding: 13px 13px 13px 54px;
	}
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 40px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
